<%= form_for @fruit_cache, :html => {:multipart => true} do |f| %>
  <% if @fruit_cache.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fruit_cache.errors.count, "error") %> prohibited this fruit_cache from being saved:</h2>

      <ul>
      <% @fruit_cache.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>

  <% 
   # Default to the cache lat/long, if none assume it's a new cache and
   # default to the users ip geolocation
   latitude = @fruit_cache.latitude || request.location.latitude || 0.0
   longitude = @fruit_cache.longitude || request.location.longitude || 0.0
   zoom = (latitude == 0.0 && longitude == 0.0) ? 4 : 16
   @markers = "[{\"lng\": \"#{longitude}\", \"lat\": \"#{latitude}\" }]"  %>
               
   <%= gmaps({
       "map_options" => { "zoom" => zoom, "auto_adjust" => false},
       "markers" => { "data" => @markers, "options" => { "draggable" => true } }
       })
       %>  
  
 
  
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  <% content_for :scripts do %>
  <script type="text/javascript">
  Gmaps.map.callback = function() {
    for (var i = 0; i <  this.markers.length; ++i) {
      google.maps.event.addListener(
        Gmaps.map.markers[i].serviceObject, 
        'dragend', 
        function() { 
          HandleDragend(this.getPosition()) 
        }
      );
    }
  }
  HandleDragend = function(pos) {
    $( '#fruit_cache_latitude' ).val( pos.lat() );
    $( '#fruit_cache_longitude' ).val( pos.lng() );
  }


  </script>
  <% end %>
<% end %>
