<%= form_for(@fruit_cache) do |f| %>
  <% if @fruit_cache.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fruit_cache.errors.count, "error") %> prohibited this fruit_cache from being saved:</h2>

      <ul>
      <% @fruit_cache.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <% 
  # Default to the cache lat/long, if none assume it's a new cache and
  # default to the users ip geolocation
  latitude = @fruit_cache.latitude || request.location.latitude || 0.0
  longitude = @fruit_cache.longitude || request.location.longitude || 0.0
  
  map = Cartographer::Gmap.new( 'geocode_map' )
  map.zoom = 16
  map.center = [latitude, longitude]
  map.icons << Cartographer::Gicon.new

  #TODO: When unknown center marker on the users ip-geolocation
  marker = Cartographer::Gmarker.new(
    :name => 'geolocation_marker',
    :marker_type => 'Building',
    :position => [latitude, longitude],
    :draggable => true,
    :drag_end => 'HandleGeocodeEvent( mouseEvent )'
  )
  map.markers << marker
  %>
  
  <%= raw Cartographer::Header.new.to_s %>
  <%= raw map.to_html %>
  <div style="width:600px;height:400px;" id="geocode_map" > [Map] </div>
  
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <script type="text/javascript">
  function HandleGeocodeEvent( mouseEvent ) {
    $( '#fruit_cache_latitude' ).val( mouseEvent.latLng.lat() );
    $( '#fruit_cache_longitude' ).val( mouseEvent.latLng.lng() );
    
  }
  </script>
<% end %>
