<% title( @fruit_cache.name ) %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @fruit_cache.name %>
</p>

<p>
  <b>Description:</b>
  <%= @fruit_cache.description %>
</p>

<p>
  <b>Rating:</b>
  <%= @fruit_cache.rating %>
</p>

<p>
  <b>Latitude:</b>
  <%= @fruit_cache.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @fruit_cache.longitude %>
</p>

<h3>Map</h3>
<%= gmaps4rails(@json) %>

<h3 id="photos_count"><%= pluralize(@fruit_cache.images.size, "Photo")%></h3>
<ul class="thumbnails">
  <% @fruit_cache.images.each do |image| %>
    <li>
      <div class="thumbnail">
        <%= image_tag image.photo.url(:small) %>
        <p><%= image.caption %></p>
        <% if can? :delete, image %>
          <%= link_to 'Remove image', image_path(image, :redirect_to => fruit_cache_path(image.fruit_cache)), :method => :delete %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
<%= render :partial => "show" %>
<h3>Upload a Photo</h3> 
<%= form_for Image.new(:fruit_cache_id => @fruit_cache.id), :html => {:multipart => true} do |f| %> 
	<%= f.hidden_field :fruit_cache_id, "value" => @fruit_cache.id %>
<p><%= f.file_field :photo %> </p>
<p><%= f.submit "Upload" %></p> 

<% end %>


<h2>logs</h2>
  <% @fruit_cache.log_entries.each do |log| %>
    <div class="log_entry">
      <div class="text">
        <%= log.text %>
      </div>
    </div>
      
  <% end %>

<%= link_to 'Add log entry', new_fruit_cache_log_entry_path( @fruit_cache )%>
<%= link_to 'Edit', edit_fruit_cache_path(@fruit_cache) %> |
<%= link_to 'Back', fruit_caches_path %>
