<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @fruit_cache.name %>
</p>

<p>
  <b>Description:</b>
  <%= @fruit_cache.description %>
</p>

<p>
  <b>Rating:</b>
  <%= @fruit_cache.rating %>
</p>

<p>
  <b>Latitude:</b>
  <%= @fruit_cache.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @fruit_cache.longitude %>
</p>


<%= link_to 'Edit', edit_fruit_cache_path(@fruit_cache) %> |
<%= link_to 'Back', fruit_caches_path %>
