- title( @fruit_cache.name )

.row
  .span6
    %p
      = @fruit_cache.description
    
    %div
      - @fruit_cache.tags.each do |tag|
        = render :partial => 'tags/tag', :locals => { :tag => tag }
        
    %h3#photos_count
      -if @fruit_cache.images.size > 0
        = pluralize(@fruit_cache.images.size, "Photo")
      -else
        = "No photos :'("

    #slideshowModal.modal.modal-fullwidth.fade{ :style=>"display: none"}
      .modal-header
        %a.close{:'data-dismiss'=>"modal"} ×
        %h3 Slideshow
      .modal-body
        - if @fruit_cache.images && @fruit_cache.images.count > 0
          #myCarousel.carousel
            .carousel-inner
              - @fruit_cache.images[0..0].each do |image|
                .item.active
                  = image_tag image.photo.url(:fullwidth_crop)
                  - if image.caption
                    .carousel-caption
                      = image.caption
              - if @fruit_cache.images && @fruit_cache.images.count > 1
                - @fruit_cache.images[1..-1].each do |image|
                  .item
                    = image_tag image.photo.url(:fullwidth_crop)
                    - if image.caption
                      .carousel-caption
                        = image.caption
            - if @fruit_cache.images && @fruit_cache.images.count > 1 
              %a.carousel-control.left{ :href=>'#myCarousel', :'data-slide'=>"prev"} &lsaquo;
              %a.carousel-control.right{ :href=>'#myCarousel', :'data-slide'=>"next"} &rsaquo;

        

    %ul.thumbnails#images
      - @fruit_cache.images.each do |image|
        %li
          %a{'data-toggle'=>"modal", :href=>"#slideshowModal"}
            = render :partial => "images/smallthumbnail", :locals => { :image => image }

    - if can? :create, Image
      = render :partial => "uploadify"
      = form_for Image.new(:fruit_cache_id => @fruit_cache.id), :html => {:multipart => true} do |f|
        = f.hidden_field :fruit_cache_id, "value" => @fruit_cache.id
        %p
          = f.file_field :photo
        %p
          = f.submit "Upload photos...", :id => "image_submit"
    - else
      Log in to upload photos

    %h3 Logs
    - @fruit_cache.log_entries.each do |log|
      .row
        .span6
          = render :partial => 'log_entries/log_entry', :locals => { :log => log }

    - if can? :create, LogEntry
      = link_to 'Add log entry', new_fruit_cache_log_entry_path( @fruit_cache )
    - else
      Log in to add your logs
      
  .span6
    = gmaps( :map_options => { :container_class => "map_container", :class => "height300", :auto_adjust => true, :auto_zoom => false, :zoom => 16 },:markers => { "data" => @json} )
    
    %h3
      Nearby Caches
    - @fruit_cache.nearbys( 20, { :limit => 5 }).each do |cache|
      = render :partial => "fruit_caches/snippet", :locals => { :fruit_cache => cache }

