
= bootstrap_form_for @tag, :html => {:multipart => true, :class=>"well form-horizontal"}  do |f|
  = f.text_field :tag
  = f.text_field :parent
  
  - Rails.logger.debug @tag.inspect
  - Rails.logger.debug @tag.meta
  - @tag.meta.each do |key, value|
    = render :partial => "generic_property_form", :locals => { :key => key, :value => value }
  .control-group
    .controls
      = link_to_function( "Add", "add_fields( this, \"#{escape_javascript(render :partial=>"generic_property_form", :locals=>{ :key=>"newkey", :value => "value"})}\")" )
        
  .actions
    = f.submit :class => "btn btn-primary"
  
- content_for :scripts do
  :javascript
    $(document).ready(function () {
        $("#tag_parent").tokenInput("/api/tags/autocomplete",
          { 
            theme: "facebook",
            tokenLimit: 1,
            allowCustomEntry: true,
            prePopulate: #{ (@tag.parent) ? "[ { id: #{@tag.parent.id}, name: \"#{escape_javascript @tag.parent.tag}\" } ]" : "[]" },
            onAdd: function( item ) {
              $('#tag_parent').prev().addClass( 'list-full' )
            },
            onDelete: function( item ) {
              $('#tag_parent').prev().removeClass( 'list-full' )
            },
            onReady: function( item ) {
              if( $('#tag_parent').prev().children().size()/2 >= 1 ) {
                $('#tag_parent').prev().addClass( 'list-full' )
              }
            }
          }
        );
    });