- title( current_user.name )
.row 
  .span6
    %h3 Users tasks
    %ul
      %li
        %a{ :href => edit_user_path( current_user ) }
          Edit your profile
      %li
        %a{ :href => authorizations_path }
          Edit your authorizations
      %li
        %a{ :href=>"urbanfruitproject://authorize?user_id=#{current_user.id}&token=#{current_user.token}" }
          Authorize your mobile app (beta only)
  .span6
    %h3 Your caches
    - caches = FruitCache.where( :user_id => current_user )
    - if caches && !caches.nil?
      %ul
        - caches.each do |cache|
          %li
            %a{ :href => fruit_cache_path(cache.id)}
              = "#{cache.primary_tag.tag}"
            =  " - #{cache.location}"
    - else
      %p No caches :'(