- title( @tag.tag )

.row
  .span6
    .tag
      = @tag.tag
    =link_to( "Edit", edit_tag_path( @tag ) )
    - if @tag.parent
      .parent
        = "#{@tag.parent.tag} #{(@tag.parent.id)}"
    .children
      = @tag.children
    .meta
      = @tag.meta