- title "Log Entries"

%table
  %tr
    %th
      Text
    %th
    %th
    %th

- @log_entries.each do |log_entry|
  %tr
    %td
      = log_entry.text
    %td
      = link_to 'Show', log_entry
    %td
      = link_to 'Edit', edit_log_entry_path(log_entry)
    %td
      = link_to 'Destroy', log_entry, :confirm => 'Are you sure?', :method => :delete

= link_to 'New Log entry', new_fruit_cache_log_entry_path( @fruit_cache ) 
