!!!
%html
  %head
    %title
      = content_for?(:title) ? "Urban Fruit Project | " + yield(:title) : "Urban Fruit Project" 
    = stylesheet_link_tag    "application" 
    = javascript_include_tag "application" 
    = csrf_meta_tags
    = yield :head

  %body

    .navbar.navbar-fixed-top
      .top-pattern
      .navbar-inner
        .container
          %a.brand{ href: "/" }
            Urban Fruit Project
          %ul.nav

            %li
              %a{ href: nearby_caches_path }
                Nearby Caches
            %li
              %a{ href: "/caches/new" }
                New Cache
            
          = form_tag( "/search", :method => "get", class: "navbar-search" ) do
            = text_field_tag( :q, @query, placeholder: "Pears in Oakville, ON", class: "search-query" )
          %ul.nav.pull-right
            - if current_user
              %li.dropdown
                %a.dropdown-toggle{ :href=>"#", :'data-toggle'=>"dropdown" }
                  = current_user.email 
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href=>profile_path} 
                      %i.icon-user
                      Profile

                  %li.divider
                  %li
                    %a{:href=>log_out_path} 
                      %i.icon-off
                      Log out
            - else
              %li 
                %a{:href=>sign_up_path} Join!
              %li
                %a{:href=>log_in_path} Sign in
            %li.dropdown
              %a.dropdown-toggle{ :href=>'#', :'data-toggle'=>"dropdown"}
                Help
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{ :href=>page_path('about') } About Us
                %li
                  %a{ :href=>page_path('faq') } FAQ
                %li.divider  
                %li
                  %a{ :href=>'http://blog.urbanfruitproject.com' } Our Blog
                %li
                  %a{ :href=>'http://www.facebook.com/UrbanFruitProject' } Facebook
                %li 
                  %a{ :href=>'http://www.twitter.com/fruitproject' } Twitter
                %li.divider
                %li 
                  %a{ :href=>page_path('terms') } Terms of Use

                  
    .hero
      .container
        = yield :hero
    .content
      .container
        - if flash[:notice]
          .alert.alert-success.fade.in
            %a.close{ :'data-dismiss' => "alert"} ×
            = flash[:notice]
        - if flash[:warning]  
          .alert.alert-error.fade.in
            %a.close{ :'data-dismiss' => "alert"} ×
            = flash[:warning]
        
        = content_tag :h1, yield(:title) if show_title?
        = yield 
      .footer
        %p Built by <a href="http://www.twitter.com/vfilby">@vfilby</a>
        %p Crafted with <a href="http://rubyonrails.org/">Rails 3.1</a>, <a href="http://twitter.github.com/bootstrap">Bootstrap<a>, <a href="http://www.searchify.com"><strike>IndexTank</strike> Searchify</a> & <a href="http://www.heroku.com">Heroku</a>
        %p Copyright (C) 2011 
        = yield :scripts
        :javascript
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-32265129-1']);
          _gaq.push(['_setDomainName', 'urbanfruitproject.com']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();



    - unless stored_lat_long?
      :javascript
        getGeoLocation();


