!!!
%html
  %head
    %title
      = content_for?(:title) ? "Urban Fruit Project | " + yield(:title) : "Urban Fruit Project" 
    = stylesheet_link_tag   "http://twitter.github.com/bootstrap/assets/css/bootstrap.css"
    = stylesheet_link_tag    "application" 
    = javascript_include_tag "application" 
    = csrf_meta_tags
    = yield :head

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ href: "/" }
            Urban Fruit Project
          %ul.nav

            %li
              %a{ href: "/caches" }
                Fruit Caches
            %li
              %a{ href: "/caches/new" }
                New Cache
            
          = form_tag( "/search", :method => "get", class: "navbar-search" ) do
            = text_field_tag( :q, @query, placeholder: "Search", class: "search-query" )
          %ul.nav.pull-right
            - if current_user
              %li.dropdown
                %a.dropdown-toggle{ :href=>"#", :'data-toggle'=>"dropdown" }
                  = current_user.email 
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href=>authorizations_path} 
                      %i.icon-user
                      Profile
                  %li.divider
                  %li
                    %a{:href=>log_out_path} 
                      %i.icon-off
                      Log out
            - else
              %li 
                %a{:href=>sign_up_path} Join!
              %li
                %a{:href=>log_in_path} Sign in

    .container
      - if flash[:notice]
        .alert.alert-success.fade.in
          %a.close{ :'data-dismiss' => "alert"} ×
          = flash[:notice]
      - if flash[:warning]  
        .alert.alert-error.fade.in
          %a.close{ :'data-dismiss' => "alert"} ×
          = flash[:warning]
        
      = content_tag :h1, yield(:title) if show_title?
      = yield 
    = yield :scripts

