!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : "Untitled" 
    = stylesheet_link_tag   "http://twitter.github.com/bootstrap/assets/css/bootstrap.css"
    = stylesheet_link_tag    "application" 
    = javascript_include_tag "application" 
    = csrf_meta_tags

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ href: "/" }
            Urban Fruit Project
          %ul.nav

            %li
              %a{ href: "/caches" }
                Fruit Caches
            %li
              %a{ href: "/caches/new" }
                New Cache
            
          = form_tag( "/search", :method => "get", class: "pull-right navbar-search" ) do
            = text_field_tag( :q, @query, placeholder: "Search", class: "search-query" )
            
    .container
      .subnav-fixed
        - if current_user
          Logged in as 
          = link_to current_user.email, authorizations_path
          = link_to "Log out", log_out_path
        - else
          = link_to "Sign up", sign_up_path 
          or
          = link_to "log in", log_in_path
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"


      = content_tag :h1, yield(:title) if show_title?

      = yield 

